   <section>
        <%= render 'shared/failed_charges' %>
   </section>
    <section>
        <%= render 'shared/disputed_charges' %>
   </section>
    <section>
        <%= render 'shared/successful_charges' %>
   </section>
   <%= link_to 'New Charge', new_charge_path %>